* {
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  margin-left: auto;
  font-size: 40px;
}
body {
  padding: 60px;
}
input {
  color: gray;
  font-size: 1.2rem;
  width: 100%;
}

.card {
  align-content: center;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 10px;
  overflow: hidden;
}
.card {
  width: min-content;
  box-shadow: 5px 5px 30px 7px rgba(177, 177, 177, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.2s;
}
.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}
